.widget-wrapper {
  float: left;
  width: 100%;
  padding-left: 30px;

  @include media-breakpoint-down(xl) {
    padding-left: 0;
  }
}

.widget {
  float: left;
  width: 100%;

  & + .widget {
    margin-top: 45px;
  }
}

.widget-title {
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 30px;
}

.widget-search {
  form {
    position: relative;

    overflow: hidden;

    border-radius: 4px;

    input {
      padding-right: 50px;
    }

    button {
      position: absolute;
      top: 0;
      right: 0;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 56px;
      height: 56px;

      color: $primary;
      border: none;
      border-radius: 4px;
      background-color: transparent;

      &:hover {
        color: $white;
        background-color: $primary;
      }
    }
  }
}

.widget-cate-list {
  margin: 0;
  padding: 0;

  list-style: none;

  li {
    & + li {
      border-top: 1px solid #eeeeee;
    }

    a {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.78;

      position: relative;

      display: flex;
      align-items: center;
      justify-content: space-between;

      padding: 16px 0 15px 0px;
    }
  }
}

.widget-list-post {
  margin: 0;
  padding: 0;

  list-style: none;

  li {
    padding: 16px 0 15px 0px;
    & + li {
      border-top: 1px solid #eeeeee;
    }

    a {
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      color: $headings-color;
      position: relative;
      display: block;
      @include media-breakpoint-down(sm) {
        font-size: 16px;
        line-height: 22px;
      }
      &:hover {
        color: $primary;
      }
    }
  }
}

.tagcloud {
  margin: -5px;

  a {
    font-size: 14px !important;
    font-weight: 400;
    line-height: 22px;
    font-family: $link-font;

    display: block;
    float: left;
    overflow: hidden;

    margin: 5px;
    padding: 7px 8px 6px;

    color: $primary;
    border: 0;
    border-radius: 3px;
    background: #f5f5f5;

    &:hover {
      color: $white;
      background-color: $primary;
    }
  }
}

.widget-banner {
  position: relative;
  z-index: 9;
  padding: 90px 35px;
  text-align: center;
  border-radius: 5px;
  .title {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 35px;
    color: $white;
  }
  p {
    font-size: 16px;
    line-height: 24px;
    color: $white;
    margin-bottom: 35px;
  }
  a {
    color: $white;
    &:hover {
      color: $primary;
    }
  }
}
