$breadcrumb-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path fill='#ffffff' d='M10.707 17.707L16.414 12 10.707 6.293 9.293 7.707 13.586 12 9.293 16.293z'></path></svg>") !default;

.breadcrumb {
    padding: 40px 0;
    background-color: transparent;

    @include media-breakpoint-down(md) {
        padding: 25px 0;
    }

    li {
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        color: $white;

        & + li {
            &::before {
                margin: 0 15px;
                margin-top: 2px;
                content: "";
                background-image: escape-svg($breadcrumb-icon-bg);
                background-repeat: no-repeat;
                background-position: center;
                width: 1em;
                display: inline-block;
            }
        }

        a {
            position: relative;
            display: block;
            color: $white;

            &::before {
                position: absolute;
                right: 0;
                bottom: 0;
                width: 0;
                height: 1px;
                content: "";
                transition: $transition;
                background-color: $primary;
            }

            &:hover {
                color: $primary;

                &::before {
                    left: 0;
                    width: 100%;
                }
            }
        }
    }
}
