.icon-box {
    position: relative;
    display: block;

    padding: 50px 60px;

    transition: $transition;
    border-radius: 5px;
    z-index: 99;
    background-color: $white;
    &.box-border {
        border: 1px solid #e7e7e7;
        &:hover {
            border-color: $white;
            box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
        }
    }
    @include media-breakpoint-only(lg) {
        padding: 30px 35px;
    }
    @include media-breakpoint-only(md) {
        padding: 30px 35px;
    }
    @include media-breakpoint-only(md) {
        padding: 20px 25px;
    }

    .icon {
        margin-bottom: 35px;
        @include media-breakpoint-only(lg) {
            margin-bottom: 20px;
        }
        @include media-breakpoint-only(md) {
            margin-bottom: 20px;
        }

        & svg {
            width: 50px;
            height: 50px;
            & path {
                stroke: $primary;
            }
        }
    }

    .content {
        .title {
            font-size: 20px;
            line-height: 1;
            margin: 0;
            color: $headings-color;
        }

        .desc {
            margin-top: 25px;
            @include media-breakpoint-only(lg) {
                margin-top: 20px;
            }
            @include media-breakpoint-only(md) {
                margin-top: 20px;
            }
            & p {
                line-height: 1.6;

                color: $body-color;
            }
        }

        .link {
            font-size: 16px;
            font-weight: 400;
            line-height: 1;
            display: inline-flex;
            align-items: center;
            margin-top: 35px;
            color: $primary;
            @include media-breakpoint-down(xk) {
                margin-top: 20px;
            }
        }
    }

    &:hover {
        box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
        transform: translateY(-5px);
        z-index: 1;

        .content {
            .link {
                color: $primary;
            }
        }
    }
}

.icon-box-shape-animation {
    position: relative;

    .shape {
        position: absolute;
        z-index: 1;

        &-1 {
            top: -40px;
            left: -50px;
            z-index: -1;
        }
    }
    @include media-breakpoint-only(xl) {
        .shape {
            &-1 {
                top: -40px;
                left: 0px;
                z-index: -1;
            }
        }
    }
    @include media-breakpoint-down(xl) {
        .shape {
            &-1 {
                top: -20px;
                left: 0px;
                z-index: -1;
            }
        }
    }
}
