.media {
    position: relative;

    .list {
        position: absolute;
        z-index: 999;
        left: 0;
        bottom: 100%;

        display: flex;
        visibility: hidden;

        width: auto;
        padding: 0 4px;

        user-select: none;
        transition: $transition;
        transform: translateY(0px);
        white-space: nowrap;

        opacity: 0;
        border-radius: 5px;
        background: $white;
        box-shadow: 0 2px 20px rgba($black, 0.06);

        filter: drop-shadow(0 2px 20px rgba($black, 0.06));

        &::before {
            position: absolute;
            top: 100%;
            left: 20px;

            content: "";

            border-top: 8px solid $white;
            border-right: 9px solid transparent;
            border-left: 9px solid transparent;
        }

        a {
            display: flex;
            padding: 10px 8px;

            &:hover {
                color: $primary;
            }
        }
    }

    &:hover {
        .icon {
            color: $white;
            border-color: transparent;
            background-color: $primary;
        }

        .list {
            visibility: visible;
            transform: translateY(-10px);
            opacity: 1;
        }
    }
}
