.scroll-top {
    position: fixed;
    right: 30px;
    bottom: -60px;
    z-index: 999;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.03);
    display: block;
    padding: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    font-size: 25px;
    line-height: 60px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    background-color: $primary;
    background-size: 200% auto;
    background-position: left center;
    color: $white;
    transition: $transition;
    overflow: hidden;

    @include media-breakpoint-down(sm) {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 20px;
    }

    &.show {
        visibility: visible;
        opacity: 1;
        bottom: 60px;
    }

    bs-i {
        position: absolute;
        top: 50%;
        left: 50%;
        color: $white;
        transition: $transition;
    }

    .arrow-top {
        transform: translate(-50%, -50%);
    }

    .arrow-bottom {
        transform: translate(-50%, 80px);
    }

    // Animate arrow
    &:hover {
        background-position: right center;
        .arrow-top {
            transform: translate(-50%, -80px);
        }
        .arrow-bottom {
            transform: translate(-50%, -50%);
        }
    }
}
