.section-title {
    position: relative;
    z-index: 99;

    margin-bottom: 40px;
    @include media-breakpoint-down(md){
        margin-bottom: 30px;
    }

    .title {
        font-size: 42px;
        line-height: 1;
        font-weight: 600;
        margin: 0;
        color: $headings-color;
        &.fz-34{
            font-size: 34px;
            max-width: 690px;
            margin: auto;
        }
        &.fz-32{
            font-size: 32px;
            line-height: 44px;
            @include media-breakpoint-only(md){
                font-size: 26px;
                line-height: 32px;
            }
            @include media-breakpoint-down(md){
                font-size: 24px;
                line-height: 30px;
                br{
                    display: none;
                }
            }
        }
        &.fz-28{
            font-size: 28px;
            line-height: 44px;
            @include media-breakpoint-only(md){
                font-size: 26px;
                line-height: 32px;
            }
            @include media-breakpoint-down(md){
                font-size: 24px;
                line-height: 30px;
                br{
                    display: none;
                }
            }
        }

    }
    .sub-title {
        font-size: 18px;
        line-height: 24px;
        font-weight: 500;

        display: block;
        max-width: 530px;
        margin: 0 auto;

        margin-top: 20px;

        color: $secondary-light;
        &.fz-18{
            font-size: 18px;
        }
    }
    &.color-light{
        .title{
            color: $white;
        }
        .sub-title{
            color: $white;
        }
    }

    @include media-breakpoint-only(md) {
        .title {
            font-size: 38px;
        }
    }
    @include media-breakpoint-only(md) {
        .title {
            font-size: 36px;
        }
        .sub-title{
            font-size: 18px;
        }
    }
    @include media-breakpoint-down(sm) {
        .title {
            font-size: 30px;
            &.fz-34{
                font-size: 26px;
            }
            &.fz-32{
                font-size: 26px;
            }
        }
        .sub-title{
            font-size: 16px;
        }
    }
}

.section-title-two{
    position: relative;
    z-index: 99;
    margin-bottom: 30px;
    @include media-breakpoint-only(lg){
        margin-bottom: 30px;
    }
    @include media-breakpoint-down(md){
        margin-bottom: 30px;
    }
    &.color-light{
        .sub-title{
            color: $white-light;
        }
        .title{
            color: $white;
        }
    }

    .sub-title {
        font-size: 18px;
        line-height: 1.5;
        font-weight: 400;
        color: $body-color;
        position: relative;
        display: block;
        padding-left: 85px;
        margin-bottom: 25px;
        &::before{
            position: absolute;
            content: "";
            width: 70px;
            height: 2px;
            background-color: $primary;
            left: 0;
            bottom: 0;
        }
    }

    .title {
        font-size: 32px;
        line-height: 42px;
        margin: 0;
        color: $headings-color;
    }

    @include media-breakpoint-only(lg){
        .sub-title{
            font-size: 18px;
            margin-bottom: 20px;
        }
        .title {
            font-size: 30px;
        }
    }
    @include media-breakpoint-only(md) {
        .sub-title{
            font-size: 18px;
            margin-bottom: 20px;
        }
        .title {
            font-size: 38px;
        }
    }
    @include media-breakpoint-only(md) {
        .sub-title{
            font-size: 16px;
            margin-bottom: 10px;
        }
        .title {
            font-size: 28px;
            line-height: 36px;
        }
    }
    @include media-breakpoint-down(sm) {
        .sub-title{
            font-size: 16px;
            padding-left: 65px;
            &::before{
                width: 60px;
            }
        }
        .title {
            font-size: 26px;
            line-height: 36px;
            br{
                display: none;
            }
        }
    }
}


