.swiper-pagination {
    // is absolute by default
    position: static !important;
    display: block;
    line-height: 1;
    margin-top: 20px;

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        border: 0;
        border-radius: 0;
        background: transparent;
        opacity: 1;
        position: relative;
        outline: none;
        margin-right: 20px;
        margin: 0 8px !important;
        &:last-child {
            margin-right: 0;
        }
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 100%;
            width: 8px;
            height: 8px;
            background: #d8d8d8;
            z-index: 1;
            transition: $transition;
        }

        &:hover {
            &:before {
                width: 12px;
                height: 12px;
                opacity: 1;
                background: $headings-color;
            }
        }
    }

    .swiper-pagination-bullet-active {
        &:before {
            width: 12px;
            height: 12px;
            opacity: 1;
            background: $headings-color;
        }
    }
}

.swiper-pagination.swiper-pagination-white {
    .swiper-pagination-bullet {
        margin: 8px;
        &:hover {
            &:before {
                width: 12px;
                height: 12px;
                opacity: 1;
                background: #fff;
            }
        }
    }
    .swiper-pagination-bullet-active::before {
        opacity: 1;
        background: #fff;
        width: 16px;
        height: 16px;
        box-shadow: 0 0 9px #ededed;
    }
}

.swiper-nav-button {
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
        visibility 0.1s linear 2s, opacity 0.1s linear 2s;
    background-image: none;
    text-align: center;
    user-select: none;
    outline: none;
    width: 48px;
    height: 48px;
    font-size: 24px;
    color: #6d70a6;
    border: 0;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.01);
    opacity: 0;
    visibility: hidden;
    transform: translate(0, -50%);
    margin: 0;
    top: 50%;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: inherit;
        color: #fff;
        background: #fff;
    }
}
.swiper-nav-button:hover {
    color: #fff;
    &::before {
        color: #fff;
        background: $headings-color;
    }
}
.swiper-container {
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.swiper-container:hover {
    .swiper-nav-button {
        opacity: 1;
        visibility: visible;
    }
}

.swiper-nav-button i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.swiper-nav-button i::before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: $customIconFont;
    font-weight: 300;
}
.swiper-nav-prev i::before {
    content: unicode("f284");
}
.swiper-button-next i::before {
    content: unicode("f285");
}
.swiper-wrapper {
    transition-timing-function: linear !important;
}

.swiper-lazy.overlay {
    background-repeat: repeat;
    background-position: top center;

    &:not(.bg-pattern) {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        overflow: hidden;
    }
}
