$swiper-prev-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#fff'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>") !default;
$swiper-next-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#fff'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>") !default;

.swiper-pagination {
  // is absolute by default
  position: static !important;
  display: block;
  line-height: 1;
  margin-top: 20px;

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border: 0;
    border-radius: 0;
    background: transparent;
    opacity: 1;
    position: relative;
    outline: none;
    margin-right: 20px;
    margin: 0 8px !important;
    &:last-child {
      margin-right: 0;
    }
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 100%;
      width: 8px;
      height: 8px;
      background: #d8d8d8;
      z-index: 1;
      transition: $transition;
    }

    &:hover {
      &:before {
        width: 12px;
        height: 12px;
        opacity: 1;
        background: $headings-color;
      }
    }
  }

  .swiper-pagination-bullet-active {
    &:before {
      width: 12px;
      height: 12px;
      opacity: 1;
      background: $headings-color;
    }
  }
}

.swiper-pagination.swiper-pagination-white {
  .swiper-pagination-bullet {
    margin: 8px;
    &:hover {
      &:before {
        width: 12px;
        height: 12px;
        opacity: 1;
        background: #fff;
      }
    }
  }
  .swiper-pagination-bullet-active::before {
    opacity: 1;
    background: #fff;
    width: 16px;
    height: 16px;
    box-shadow: 0 0 9px #ededed;
  }
}

.swiper-nav-button {
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0.1s linear 2s, opacity 0.1s linear 2s;
  background-image: none;
  text-align: center;
  user-select: none;
  outline: none;
  width: 48px;
  height: 48px;
  font-size: 24px;
  color: #6d70a6;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.01);
  opacity: 0;
  visibility: hidden;
  transform: translate(0, -50%);
  margin: 0;
  top: 50%;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: inherit;
    color: #fff;
    background: #fff;
  }
}
.swiper-nav-button:hover {
  color: #fff;
  &::before {
    color: #fff;
    background: $headings-color;
  }
}
.swiper-container {
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.swiper-container:hover {
  .swiper-nav-button {
    opacity: 1;
    visibility: visible;
  }
}

.swiper-nav-button i,
.swiper-nav-button bs-i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.swiper-nav-button i::before {
  content: "";
  background-repeat: no-repeat;
  width: 1em;
  height: 1em;
  display: inline-block;
}
.swiper-nav-prev i::before {
  background-image: escape-svg($swiper-prev-icon-bg);
}
.swiper-button-next i::before {
  background-image: escape-svg($swiper-next-icon-bg);
}
.swiper-wrapper {
  transition-timing-function: linear !important;
}

.swiper-lazy.overlay {
  background-repeat: repeat;
  background-position: top center;

  &:not(.bg-pattern) {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
  }
}
